### Code ###
.vscode
.idea/*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# local history
.history

# leveldb directories
dojot_persistence_test
dojot_persistence
